<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FormAppPath"  value="C:\\Users\\Emre\\Desktop\\WindowLock\\WindowLock\\bin\\Debug\\netcoreapp3.1\\WindowLock.exe"/>
    <add key="LogPath" value="C:\\Users\\Emre\\Desktop\\WindowLock\\WindowsService1\\Logs\\Log.txt"/>
  </appSettings>
</configuration>